
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: rgb(0,133,205);
    background: linear-gradient(105deg, rgba(0,133,205,0.65) 35%, rgba(0,255,119,0.75) 80%);
}

model-viewer {
    margin: 0 !important;
    padding: 0 !important;

}

.header {
    width: 100vw;
    height: 100vh;
}

.logo-wrapper {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logo {
    height: 100%;
    width: 100%;
    border: none;
}