.container {
  min-height: 86vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.title {
  color: #fff;
  font-size: 64px;
  letter-spacing: 2px;
  text-shadow: 0 0 1px #111;
  margin: 0;
}
.subtitle {
  color: #fff;
  font-size: 36px;
  letter-spacing: 1px;
  text-shadow: 0 0 1px #111;
  margin: 0;
  margin-top: 10px;
}
.options {
  display: flex;
  margin-top: 20px;
  gap: 0 20px;
}
.button {
  padding: 10px 30px;
  border-radius: 10px;
  border: 1px solid #efefef;
  background-color: #fff;
  color: #111;
  cursor: pointer;
  font-size: 26px;
}
