.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0 5vw;
}
.title {
  color: #fff;
  text-shadow: 0px 0px 1px #111;
  font-size: 34px;
  font-weight: 500;
}
@media screen and (max-width: 1144px) {
  .title {
    font-size: 30px;
  }
}

@media screen and (max-width: 550px) {
  .header {
    flex-direction: column;
  }
}
